{{ with .Site.Data.intro }}
<div id="intro">
    <h1 style="display: flex; align-items: flex-start;">
        <img style="background-color: white; padding: 10px 40px; opacity: 0.7" src='{{ "images/logo.png" | absURL }}' />
        <a href="https://open.spotify.com/show/4HYIUtFVG41xQwLaopCi5j?si=SXG7RuvCTta2KUFxSXniDg&fbclid=IwAR1i6Phm6iy8vRHvR5vDsyEy2XDbRrsA5w_hNB5TSPn3RwLGdfospet8U_A">
          <img style="margin-left: 20px; width: 60%;" src='{{ "images/poster_psy.jpg" | absURL }}' />
        </a>
				<a href="https://www.facebook.com/VoiceAppAgency">
          <img style="margin-left: 20px; width: 81px;" src='{{ "images/fb.png" | absURL }}' />
        </a>
    </h1>
    <p>
        {{ range $i, $e := .description }}
            {{ if $i }} <br/> {{ end }} {{ .line }}
        {{ end }}
    </p>
    <ul class="actions">
        <li><a href="#contact" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
    </ul>
</div>
{{ end }}
